Django==5.2.7
groq==0.18.0
PyJWT==2.10.1
PyJWT==2.10.1
Django==4.2.24
django-channels==0.7.0
django-cors-headers==4.4.0
django-restframework==0.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
